<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>值日排班</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div id="app" class="container content-top">
    <div class="row">
      <div class="col-md-7">
        <!-- <select multiple class="form-control" v-model="selmembers">
          <option v-for="item in members" :id="item.id">
            {{item.name}}，已值日{{item.dutytimes}}次
          </option>
        </select> -->
        <label class="checkbox-inline" v-for="item in members" :id="item.id">
          <input type="checkbox" :id="item.id" :value="item.name" v-model="selmembers"> {{item.name}}({{item.dutytimes}})
        </label>
        <div class="info">
          <span class="label label-primary" v-for="name in selmembers">{{name}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-success btn-size" @click="addMember">添加</button>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-9">
        <div class="panel panel-default" v-for="item in company">
          <div class="panel-heading">
            <h3 class="panel-title">{{item.date | dutydate}}</h3>
            <button type="button" class="close location" @click="remove(item.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <div class="panel-body">
            <button class="btn btn-primary btn-margin" type="button" v-for="name in item.members">
              {{name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/app.js"></script>
  <script>
  var dataJson = [];
  var staff = [{
    "id": 1,
    "name": "张三",
    "dutytimes": 5
  }, {
    "id": 2,
    "name": "李四",
    "dutytimes": 0
  }, {
    "id": 3,
    "name": "王五",
    "dutytimes": 3
  }, {
    "id": 4,
    "name": "田六",
    "dutytimes": 2
  }];
  var chinaWeek = ['日', '一', '二', '三', '四', '五', '六'];
  var storage = window.localStorage;
  var getId = function() {
    var random = parseInt(Math.random() * 1000);
    return '' + Date.now() + random;
  }

  var vm = new Vue({
    el: '#app',
    data: {
      company: storage['duty_company'] ? JSON.parse(storage['duty_company']) : [],
      members: staff,
      selmembers: []
    },
    methods: {
      save: function() {
        storage['duty_company'] = JSON.stringify(this.company);
      },
      addMember: function() {
        this.company.unshift({
          "id": getId(),
          "date": Date.now(),
          "members": this.selmembers
        });
        this.save();
      },
      remove: function(id) {
        this.company.forEach(function(element, index) {
          console.log(this);
          if (id == element.id) {
            this.company.splice(index, 1);
          }
        }.bind(this));
      }
    },
    filters: {
      dutydate: function(val) {
        var dateObj = new Date(parseInt(val));
        var month = dateObj.getMonth() + 1;
        var date = dateObj.getDate();
        var weekNum = dateObj.getDate();
        var week = '日';
        if (weekNum >= 0 && weekNum <= 6) {
          var week = chinaWeek[weekNum];
        }
        return month + '月' + date + '日，周' + week;
      }
    }
  })
  </script>
</body>

</html>
